.mainTable {
    width: 100%;
    border-collapse: collapse;
}

.mainTable th {
    padding: 4px 17px 4px 4px;
    font-size: 12px;
    background-color: #666!important;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #d3d3d3;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.mainTable td {
    border: 1px solid #d3d3d3;
}